body {
    margin: 0;
}

#main-title {
    background-color: #1b73e8;
    color: white;
    padding: 10px;
    margin: 0;
}

.container {
    padding: 30px;
}

.form-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}


.form-item {
    padding: 10px;
}


input[type="text"], input[type="password"], input[type="number"], input[type="email"], select  {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    min-width: 300px;
}

input[type="submit"] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

.item {
    border: 1px solid black;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

dd ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

td {
    vertical-align: top;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;
}

@media (max-width: 600px) {
    .item {
        grid-template-columns: 1fr;
        grid-template-areas: "image" "content" ;
    }

    .item-content {
        grid-area: content;
    }

    .item-image {
        grid-area: image;
    }

    img {
        width: 100%;
    }

}